# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
src-code/build/d30336af4093680490823b0e27d22fee/_composite.stamp
src-code/build/d30336af4093680490823b0e27d22fee/gen_dart_plugin_registrant.stamp
src-code/build/d30336af4093680490823b0e27d22fee/gen_localizations.stamp
src-code/pubspec.lock
src-code/build/ios/Pods.build/Release-iphonesimulator/abseil.build/dgph
src-code/pubspec.lock
src-code/build/ios/Pods.build/Release-iphonesimulator/abseil.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/abseil.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/BoringSSL-GRPC-openssl_grpc.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/BoringSSL-GRPC.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/BoringSSL-GRPC.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/cloud_firestore.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/cloud_firestore.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/connectivity_plus.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/connectivity_plus.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/Firebase.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/Firebase.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/firebase_auth.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/firebase_auth.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/firebase_core.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/firebase_core.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseAppCheckInterop.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseAppCheckInterop.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseAuth.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseAuth.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCore.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCore.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreExtension-FirebaseCoreExtension_Privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreExtension.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreExtension.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreInternal-FirebaseCoreInternal_Privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreInternal.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreInternal.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseFirestore.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseFirestore.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseFirestoreInternal-FirebaseFirestoreInternal_Privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseFirestoreInternal.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseFirestoreInternal.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseSharedSwift.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseSharedSwift.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/Flutter.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/Flutter.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/flutter_local_notifications-flutter_local_notifications_privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/flutter_local_notifications.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FMDB.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FMDB.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/GoogleUtilities-GoogleUtilities_Privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GoogleUtilities.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GoogleUtilities.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-C++-gRPCCertificates-Cpp.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-C++-gRPCCertificates-Cpp.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-C++-grpcpp.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-C++.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-C++.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-Core-grpc.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-Core.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-Core.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher-GTMSessionFetcher_Core_Privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher-GTMSessionFetcher_Core_Privacy.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/leveldb-library-leveldb_Privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/leveldb-library.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/leveldb-library.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/nanopb.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/nanopb.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/path_provider_foundation.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/path_provider_foundation.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/PromisesObjC-FBLPromises_Privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/PromisesObjC.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/PromisesObjC.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/ReachabilitySwift.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/ReachabilitySwift.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/RecaptchaInterop.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/RecaptchaInterop.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/shared_preferences_foundation.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/shared_preferences_foundation.build/dgph~
src-code/build/ios/Pods.build/Release-iphonesimulator/sqflite.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/sqflite.build/dgph~
src-code/pubspec.lock
src-code/pubspec.lock
src-code/pubspec.lock
src-code/build/ios/Pods.build/Release-iphonesimulator/abseil.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/BoringSSL-GRPC.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/cloud_firestore.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/connectivity_plus.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/Firebase.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/firebase_auth.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/firebase_core.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseAppCheckInterop.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseAuth.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCore.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreExtension.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreInternal.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseFirestore.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseFirestoreInternal.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseSharedSwift.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/Flutter.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FMDB.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GoogleUtilities.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-C++-gRPCCertificates-Cpp.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-C++.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-Core.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher-GTMSessionFetcher_Core_Privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/leveldb-library.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/nanopb.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/path_provider_foundation.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/PromisesObjC.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/ReachabilitySwift.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/RecaptchaInterop.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/shared_preferences_foundation.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/sqflite.build/dgph
src-code/build/ad056478223efe20fb087c34730d2b0e/_composite.stamp
src-code/build/ad056478223efe20fb087c34730d2b0e/gen_dart_plugin_registrant.stamp
src-code/build/ad056478223efe20fb087c34730d2b0e/gen_localizations.stamp
src-code/build/ios/Pods.build/Release-iphonesimulator/abseil.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/BoringSSL-GRPC.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/cloud_firestore.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/connectivity_plus.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/Firebase.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/firebase_auth.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/firebase_core.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseAppCheckInterop.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseAuth.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCore.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreExtension.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseCoreInternal.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseFirestore.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseFirestoreInternal.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FirebaseSharedSwift.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/Flutter.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/FMDB.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GoogleUtilities.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-C++-gRPCCertificates-Cpp.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-C++.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/gRPC-Core.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher-GTMSessionFetcher_Core_Privacy.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/GTMSessionFetcher.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/leveldb-library.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/nanopb.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/path_provider_foundation.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/PromisesObjC.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/ReachabilitySwift.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/RecaptchaInterop.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/shared_preferences_foundation.build/dgph
src-code/build/ios/Pods.build/Release-iphonesimulator/sqflite.build/dgph
src-code/ios/Flutter/AppFrameworkInfo.plist
src-code/ios/Runner.xcodeproj/project.pbxproj
src-code/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
